body {
    margin: 0px;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none; /*to remove underline in anchor*/
}
li {
    list-style: none; /* to remove dot in front of li elements */
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: red;
}
a:active {
    color: red;
}
.footer-parent {

    background-color: black;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer_content {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;

}
nav {
    padding-top: 1rem;
}
.parent {
    display: flex;
    text-align: center;
    margin-top: 1rem;
}
header {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
}
li {
    padding-right: 1rem;
}